.card {
    margin-bottom: 30px;
    max-height: 500px;
    max-width: 400px;
}

.card-footer {
    padding: 0;
}
#text1 {
    position: absolute;
    bottom:55px;
    right: 16px;
    font-size: 16px;
}
#text2 {
    position: relative;
    bottom: 3px;
    left: -4px;
    font-size: 18px;
}
.card-body {
    padding-bottom: 15px;
}

.card-title{
    margin-bottom: 0;
    margin-top: 5px;
}


