<div class="card">
    <div class="card-body">
      <h5 class="card-title">Korpa</h5>
      <p class="card-text">Imate {{ cart.totalItemsCount }} proizvoda u vašoj korpi.</p>
      <ul class="list-group list-group-flush">
          <li *ngFor="let item of cart.items" class="list-group-item">
              {{ item.quantity }} x {{ item.title }}
              <div class="float-right">
                  {{ item.totalPrice | currency:'RSD ' }}
              </div>
          </li>
          <li class="list-group-item font-weight-bold">
              Ukupno
              <div class="float-right">
                  {{ cart.totalPrice | currency:'RSD ' }}
              </div>
          </li>
      </ul>
    </div>
</div>